<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="plugin.viewmodels.handlers.ViewModels"
            id="plugin.viewmodels.viewCommand"
            name="View Models">
      </command>
      <command
            id="plugin.viewmodels.command1"
            name="test command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer">
         <command
               commandId="plugin.viewmodels.viewCommand"
               label="Show Model View"
               style="push">
         </command>
         <command
               commandId="plugin.viewmodels.command1"
               label="test h2"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:plugin.viewmodels.modelview">
         <command
               commandId="org.unicase.ui.common.commands.annotateIssue"
               icon="Icons/Issue.gif"
               label="Issue"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="plugin.viewmodels.views.ModelView"
            id="plugin.viewmodels.modelview"
            name="Model View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="plugin.viewmodels.handlers.handler2"
            commandId="plugin.viewmodels.command1">
      </handler>
   </extension>

</plugin>
