<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="plugin.viewmodels.handlers.ViewModelsEditorHandler"
            id="plugin.viewmodels.viewEditorCommand"
            name="Open Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.unicase.ui.navigator.viewer">
         <command
               commandId="plugin.viewmodels.viewEditorCommand"
               label="Show Models Editor"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="plugin.viewmodels.editors.ModelViewEditor"
            default="false"
            id="plugin.viewmodels.modelvieweditor"
            name="Model View Editor">
      </editor>
   </extension>

</plugin>
